- if @task.errors.any?
  #error_explanation
    %h2
      = pluralize(@task.errors.count, 'error')
      ошибки при создании задачи:
    %ul
      - @task.errors.full_messages.each do |msg|
        %li= msg
.block
  .bl-header
    Новая задача
  .bl-main
  = render 'form'
  = link_to 'Back', tasks_path
