


<p id="notice"><%= notice.to_s %></p>
<div class="block">
  <div class="bl-header">
    123456
    <div class="bl-right">
      <%= link_to '', edit_page_path(@page), class: 'fa fa-edit' %>
      <%#= link_to 'Back', pages_path %>
    </div>
  </div>
  <div id="docs">
    <%= raw RedCloth.new(@page.text).to_html %>
  </div>

  <div class="bl-footer">
    <div class="bl-right">
    <i class="fa fa-clock-o"></i> <%= @page.updated_at %>
    </div>
  </div>
</div>

