@import "susy";

$susy: (
        flow: ltr, // сменить дефолтное навправление колонок, можно задавать переменной и менять для арабских сайтов
        math: fluid, // можно использовать static для неадаптивных сайтов
        output: float, // outside для исправлениях некоторых багов
        gutter-position: after, // возможны разные варианты, например, before и inside
        container: auto, // максимальная ширина в любых единицах, например, 60em
        container-position: center, // если сделать не по центру, то можно использовать left и right
        columns: 12, // количество колонок
        gutters: .25, // ширина пробельчика для каждой колонки
        column-width: false, // ширина колонки задается только при math: static
        global-box-sizing: content-box, // можно задать border-box, но иногда проще использовать border-box миксин из компаса
        last-flow: to, // последний элемент в ряду флоатится вправо, можно сменить
        debug: (
                image: hide, // варианты: show | hide | show-columns | show-baseline для показа всех вариантов колонок и линеечек
                color: rgba(#66f, .25), // менять цвет у колонок
                output: background, // есть еще вариант overlay, в котором колонки показываются только при наведении
                toggle: top right, // положение переключателя для показа оверлея
        ),
        use-custom: (// для каждого из них если включить true будут использоваться миксины из Compass или ваши собственные)
                background-image: true, // возможность использовать свой миксин background-image
                background-options: false, // разные background миксины
                box-sizing: true, // свой миксин box-sizing
                clearfix: false, // свой миксин clearfix
                rem: true,
        )
);

@import "const";

//базовое

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td, button {
  margin: 0;
  padding: 0;
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset, img {
  border: 0
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal
}

ol, ul {
  //list-style: none
}

caption, th {
  text-align: left
}

td, th {
  vertical-align: top
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold
}

body {
  font: 13px 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  direction: ltr;
  text-align: left;
  unicode-bidi: embed;
  background: $color-background;
  -webkit-text-size-adjust: none;
  overflow-y: scroll
}

textarea {
  font: inherit
}

table {
  font-size: inherit;
}

h1 {
  font-size: 16px
}

h2 {
  font-size: 14px
}

a {
  -moz-outline-style: none;
  text-decoration: none;
  color: #136CB2;
  cursor: pointer
}

a:hover {
  //text-decoration: underline
}

img {
  display: block
}

hr {
  height: 1px;
  background: #bbb;
  border: none
}

//разметка

.routing-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;

  background: #58627d;
  z-index: 80;
  box-shadow: 0 1px 0px #303544;

  padding-left: 15px;
  padding-top: 10px;
  //font
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.breadcrumbs {
  color: #000A65;
  position: fixed;
  top: 40px;
  width: 100%;
  height: 25px;
  background: $color-background;
  box-shadow: 0 1px 0px $color-border-box;
  padding-left: 15px;
  padding-top: 5px;
  //font
  color: #464C5C;
  font-weight: bold;
  text-decoration: none;
  .br-right {
    float: right;
    padding-right: 30px;
  }
}

.nav-left {
  @include span(2);
  //background: #dad4d7;
  color: #646d84;
  position: fixed;
  top: 80px;
  bottom: 0px;
  left: 0px;
  padding-left: 10px;
  //box-shadow: 3px 0px 2px -1px #000000;
  font-weight: bold;

}

.nav-right {
  @include span(2);
  //background: #bebebe;
  color: #f8f8f8;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  //box-shadow: -3px 0px 2px -1px #000000;
  margin-right: 0;
}

.main {
  width: span(8);
  margin-left: span(2) + gutter();
  margin-right: span(2) + gutter();
  margin-top: 60px;

}

.block {
  margin: $block-padding;
  padding: $block-padding;
  border: 0.5px solid $color-border-box;
  background: $color-block-background;
  border-radius: 3px;
  .bl-header {
    //background: #fbfbfb;
    padding-bottom: $block-padding;
    margin-bottom: $block-padding;
    border-bottom: 1px solid $color-border-box;

  }
  .bl-main {
    padding: $block-padding * 3;
  }
  .bl-footer {
    border-top: 1px solid $color-border-box;
    margin-bottom: $block-padding;
    margin-top: $block-padding * 2;
    padding-top: $block-padding * 2;
    padding-bottom: $block-padding;
    color: dimgrey;
  }
  .bl-right {
    //width: 30%;
    float: right;
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline;
        margin-right: 5px;
        padding: 3px;
      }
    }
  }

}

pre, code, kbd, samp {
  font: 1em/1.625em Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
  line-height: 1.5;
  overflow-x: auto
}

#docs {
  //font-family: Palatino, Georgia, serif;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;

}

textarea {
  overflow: auto;
  vertical-align: top
}

#notice {
  //background: greenyellow;
  //margin: 5px;
  //padding: 5px;
  //border: 0.5px solid $color-border-box;
  border-radius: 3px;
}

.label {
  border-radius: 2px;
  background: #eff8ff;
}

.info-bg {
  color: #b0b0b0;
  font-size: 20px;
  font-weight: bold;

}

.id-label {
  //background: #fbfbfb;
  display: inline;
  //padding-left: 5px;
  border: solid #d6d3e8 1px;
  border-radius: 2px;
  margin-left: 2px;
  margin-right: 5px;
  padding-right: 5px;
  text-align: center;

}

.id-label:hover {
  border: solid #6e74e8 1px;
}

.id-label:before {
  border-right: solid #d6d3e8 1px;
  content: "ID";
  padding-right: 3px;
  background: rgba(244, 245, 255, 0.25);
  padding-left: 4px;
  color: rgba(135, 132, 146, 0.77);
  text-align: center;
}

.id-label-status {
  //background: #fbfbfb;
  display: inline;
  //padding-left: 5px;
  border: solid #d6d3e8 1px;
  border-radius: 2px;
  margin-left: 2px;
  margin-right: 5px;
  padding-right: 5px;
  text-align: center;

}

.id-label-status:before {
  border-right: solid #d6d3e8 1px;
  content: "СТ";
  padding-right: 3px;
  background: rgba(244, 245, 255, 0.25);
  padding-left: 4px;
  color: rgba(135, 132, 146, 0.77);
  text-align: center;
}

.id-label-author {
  //background: #fbfbfb;
  display: inline;
  //padding-left: 5px;
  border: solid #d6d3e8 1px;
  border-radius: 2px;
  margin-left: 2px;
  margin-right: 5px;
  padding-right: 5px;
  text-align: center;

}

.id-label-author:before {
  border-right: solid #d6d3e8 1px;
  content: "АВ";
  padding-right: 3px;
  background: rgba(244, 245, 255, 0.25);
  padding-left: 4px;
  color: rgba(135, 132, 146, 0.77);
  text-align: center;
}

.status-done {
  text-decoration: line-through;
  display: inline;
  color: grey;
}

//->

