!!!
%html
  %head
    %title Knowrep
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    .header
      header
    .content
      .routing-bar
        knowrep
      .breadcrumbs
        %i.fa.fa-book
        home
        %i.fa.fa-angle-right
        test
        %i.fa.fa-angle-right
        test 1
        %i.fa.fa-angle-right
        test 2
        %i.fa.fa-angle-right
        here ...
        -#.br-right
          %i.fa.fa-plus-square добавить
      .nav-left
      / <ul>
      / <li><i class="fa fa-tasks"></i> Задачи</li>
      / <li>22</li>
      / <li>33</li>
      / </ul>
      .main
        = yield
      .nav-right
