<!DOCTYPE html>
<html>
<head>
  <title>Knowrep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="header">

  header

</div>

<div class="content">
  <div class="routing-bar">
    knowrep
  </div>
<div class="nav-left">
<h4>knowrep</h4>
  <ul>

    <li>11</li>
    <li>22</li>
    <li>33</li>
  </ul>

</div>
  <div class="breadcamps">
    home / test /test 1 / test 2 /here ...
  </div>
<div class="main">
  <%= yield %>
</div>
  <div class="nav-right">
1
  </div>
</div>

</body>
</html>
