!!!
%html
  %head
    %title Knowrep
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    .header
      header
    .content
      .routing-bar
        knowrep
      .breadcrumbs
        / <i class="fa fa-book"></i> home <i class="fa fa-angle-right"></i> test <i class="fa fa-angle-right"></i> test 1 <i class="fa fa-angle-right"></i> test 2 <i class="fa fa-angle-right"></i> here ...
        .br-right
      / <i class="fa fa-plus-square"></i> добавить
      .nav-left
      / <ul>
      / <li><i class="fa fa-tasks"></i> Задачи</li>
      / <li>22</li>
      / <li>33</li>
      / </ul>
      .main
        = yield
      .nav-right
