<!DOCTYPE html>
<html>
<head>
  <title>Knowrep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="header">

  header

</div>
<!-- Greedless block

<div class="group">
  <div id="main-nav">
    <ul>
      <li>11</li>
      <li>22</li>
    </ul>

  </div>
</div>

<div class="group">
  -- content here --
</div>-->
<div class="content">
<nav>

  <ul>
    <li>11</li>
    <li>22</li>
    <li>33</li>
  </ul>

</nav>
<div class="main">
  <%= yield %>
</div>

</div>

</body>
</html>
